<div class="d-flex justify-content-center">
        <img src="https://www.intercorpretail.pe/images/intercorp_logo.png" alt="intercorp-retail">
    </div>
    <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link"  routerLink="/">Registro de cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/listaClientes">Lista de cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/proyeccionClientes">Proyecció y análisis del cliente</a>
            </li>
          </ul>
    
    <!-- <app-form-new-client></app-form-new-client>
    <app-list-client></app-list-client>
    <app-proj-client></app-proj-client> -->
    
    <!-- style="max-width: 75%;" -->
